* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background: azure;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px;
  background: purple;
  color: white;
  position: sticky;
  top: 1px;
}

.logo {
  font-weight: 500;
  font-size: 18px;
}

.action {
  padding: 8px 16px;
  background: orangered;
  border-radius: 8px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
}

/* home */
.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
  margin-top: 16px;
  background: azure;
}

.text {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: purple;
}

.image {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* contact button */
.floating-button {
  position: sticky;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: end;
}

.floating-button .contact-btn {
  margin: 50px 50px 10px 0;
  background: purple;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* members */
.members {
  background: floralwhite;
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.member-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.member-container {
  background: white;
  border: 1px solid orange;
  width: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 3px 10px orange;
}

.member-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.member-container .name {
  font-weight: 600;
  font-size: 20px;
  color: orange;
}

.member-container .description {
  text-align: center;
}

/* services */
.services {
  background: rgb(237, 195, 229);
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.service-container {
  background: white;
  border: 1px solid rgb(208, 94, 187);
  width: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(208, 94, 187);
}

.service-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.service-container .name {
  font-weight: 600;
  font-size: 20px;
  color: purple;
}

.service-container .description {
  text-align: center;
}

.service-container .price {
  font-size: 24px;
  color: purple;
  font-weight: 600;
}

/* footer */
footer {
  margin-top: 16px;
  padding: 32px;
}
